<form style="margin:0px;" method="POST" id="Filter" action="javascript:void(null);" onsubmit="updateRequests('',event)">
    <div style="padding:5px;" class="pull-right">
        <input type="submit" class="btn  pull-right" name ="filterSubmit" value="Применить">
    </div>

    <div id="range-container">

        <div  class="input-daterange input-prepend input-append" id="datepicker">

            <span class="add-on"> Период: c</span>
            <input type="text" value = "<?php echo $data[0]; ?>" class="input-small" id= "startDate" name="startDate" />
            <span class="add-on"> до </span>
            <input type="text" value = "<?php echo $data[1]; ?>" class="input-small" id= "endDate" name="endDate" /><br>

    </div>
        </div>
    <div class=" hide input-prepend ">

        <span class="add-on"> Страница № </span>
        <input type="text"  class="input-mini" id="page" name="page" />

    </div>
</form>
