<div id ="stat">
<pre>
<b>Всего:</b> <?php echo $data[0]." шт."; ?> <b>Оплачено:</b> <?php echo $data[1]." шт."; ?> <b>Неоплачено:</b> <?php echo $data[2]." шт."; ?>
</pre>

<pre>
<b>Моя выручка: </b><?php echo $data[7]." руб."; ?> <b>Я взял: </b><?php echo $data[8]." руб."; ?> <b>Я должен взять:</b> <?php echo $data[9]." руб."; ?>
</pre>

<pre>
<b>Нужно отдать: </b><?php echo $data[10]." руб."; ?> <b>Я отдал: </b><?php echo $data[11]." руб."; ?> <b>Я должен отдать:</b> <?php echo $data[12]." руб."; ?>
</pre>

<pre>
<b>Я наварился на: </b><?php echo $data[13]." руб."; ?>
</pre>
</div>
